body {
	background: #161d2e;
	font-family: 'Nunito', sans-serif;
}

.kaki {
	margin-top: 100px;
	margin-bottom: 100px;
}

h4 {
line-height: 30px;
font-size: 3.3rem;
color: white;
font-weight: 100;
}

#haleli {
	font-size: 16px;
	color: white;
	margin-top: 10px;
	filter: opacity(60%);
}

h5 {
line-height: 40px;
font-size: 1.4rem;
color: white;
font-weight: 100;
}

h2 {
	color: #e3baba;	
	font-size: 2.5rem;	
	font-weight: 100;
}

h3 {
	color: white;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 7px;
	padding-bottom: 10px;
	font-weight: 100;
}

#mainnavbar {
	font-size: 1.2rem;
	font-weight: 100;
	background-color: #161d2e;
}

#mainnavbar .navbar-brand {
	text-transform: uppercase;
	color: #e3baba;
	font-size: 1.3rem;
	font-weight: 100;
}

#mainnavbar .nav-link {
	color: #bfbfbf;
}

#mainnavbar .nav-link:hover {
	color: #e3baba;
}

.first-image {
	height: 800px;
	background-size: cover;
	background-repeat: no-repeat;
    object-fit: cover;
 
    width: 100%;
}

#headgroup span {
	color: #e3baba;	
}
#headgroup h1 {
	font-weight: 100;
	font-size: 2.8rem;
	letter-spacing: 9px;
}

@media (max-width: 1500px) {
	#headgroup h1 {
	font-weight: 100;
	font-size: 2rem;
}

